pkgbase = nvidia-merged
	pkgver = 510.85.02
	pkgrel = 1
	url = https://krutavshah.github.io/GPU_Virtualization-Wiki/
	arch = x86_64
	groups = nvidia-merged
	license = custom
	makedepends = git
	makedepends = rust
	options = !strip
	source = nvidia-drm-outputclass.conf
	source = nvidia-smi
	source = nvidia-vgpu.conf
	source = vgpu_unlock-rs.conf
	source = nvidia.rules
	source = nvidia-utils.sysusers
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/510.85.02/NVIDIA-Linux-x86_64-510.85.02.run
	source = file://NVIDIA-Linux-x86_64-510.85.03-vgpu-kvm.run
	source = git+https://github.com/VGPU-Community-Drivers/vGPU-Unlock-patcher.git#commit=a163379
	source = git+https://github.com/mbilker/vgpu_unlock-rs.git#commit=6deede6
	sha256sums = be99ff3def641bb900c2486cce96530394c5dc60548fc4642f19d3a4c784134d
	sha256sums = 20676096714ac00d9fc993901ab275e4b0fa3f2eddc937dae395c8f4e8cb543e
	sha256sums = 5ea0d9edfcf282cea9b204291716a9a4d6d522ba3a6bc28d78edf505b6dc7949
	sha256sums = c85ae100a6c87c12906fd0057b77c0c4190f68434de4bc3bc89348ffc19aed61
	sha256sums = 4fbfd461f939f18786e79f8dba5fdb48be9f00f2ff4b1bb2f184dbce42dd6fc3
	sha256sums = d8d1caa5d72c71c6430c2a0d9ce1a674787e9272ccce28b9d5898ca24e60a167
	sha256sums = 372427e633f32cff6dd76020e8ed471ef825d38878bd9655308b6efea1051090
	sha256sums = 773d3a215cedf5349eff00a9b052bc961f51ce971933f154f2d2997ed68aa59a
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = lib32-nvidia-merged-utils
	pkgdesc = NVIDIA drivers utilities; patched for vGPU support w/ Rust unlock & host DRM output (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	depends = lib32-libglvnd
	depends = nvidia-merged-utils=510.85.02
	optdepends = lib32-opencl-nvidia=510.85.02
	provides = lib32-vulkan-driver
	provides = lib32-opengl-driver
	provides = lib32-nvidia-libgl
	provides = lib32-nvidia-utils
	conflicts = lib32-nvidia-utils
	replaces = lib32-nvidia-libgl

pkgname = lib32-opencl-nvidia-merged
	pkgdesc = OpenCL implemention for NVIDIA (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
	provides = lib32-opencl-nvidia
	conflicts = lib32-opencl-nvidia

pkgname = nvidia-merged-dkms
	pkgdesc = NVIDIA drivers - module sources; patched for vGPU support w/ Rust unlock & host DRM output
	depends = dkms
	depends = nvidia-merged-utils=510.85.02
	depends = libglvnd
	provides = NVIDIA-MODULE
	provides = nvidia-dkms
	conflicts = nvidia-dkms

pkgname = nvidia-merged-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-merged-utils=510.85.02
	provides = nvidia-settings
	conflicts = nvidia-settings

pkgname = nvidia-merged-utils
	pkgdesc = NVIDIA drivers utilities; patched for vGPU support w/ Rust unlock & host DRM output
	depends = xorg-server
	depends = libglvnd
	depends = egl-wayland
	optdepends = nvidia-merged-settings=510.85.02: configuration tool
	optdepends = xorg-server-devel: nvidia-xconfig
	optdepends = opencl-nvidia-merged=510.85.02: OpenCL support
	optdepends = mdevctl: mediated device configuration tool
	optdepends = libvirt: virtualization engine control interface
	provides = vulkan-driver
	provides = opengl-driver
	provides = nvidia-libgl
	provides = nvidia-utils
	provides = vgpu_unlock
	conflicts = nvidia-libgl
	conflicts = nvidia-utils
	replaces = vgpu_unlock

pkgname = opencl-nvidia-merged
	pkgdesc = OpenCL implemention for NVIDIA
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	provides = opencl-nvidia
	conflicts = opencl-nvidia
